body {
  background-color: #eee;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 4em;
}

header {
  text-align: center;
}

#temp {
  font-size: 6em;
}

#weather-alert, #temp {
  margin-top: 25px;
}

.alert-icon {
  font-size: 5em;
}

.alert-text {
  font-size: 2em;
}

#weather-description {
  font-size: 2em;
}

.spark-wrapper {
  text-align: center;
}

.sparkline {
  margin-top: 15px
}