body {
  background-color: #eee;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2em;
}

header {
  text-align: center;
}

label {
  display: block;
}

#temp {
  font-size: 5em;
}

#weather-alert, #temp {
  margin-top: 25px;
}

.alert-icon {
  font-size: 5em;
}

.alert-text {
  font-size: 1.5em;
}

#weather-description {
  font-size: 1.5em;
  margin-top: -1.5em;
}

.sparkline {
  text-align: center;
  margin-top: 15px;
  height: 250px;
}

.chart-legend {
  text-align: center;
  font-size: 1.75em;
}

#wind-text {
  color: #80EB6A;
}

#temp-text {
  color: #FB727F;
}

#precip-text {
  color: #5ED0C8;
}

#cloud-text {
  color: #FFB074 ;
}

#sunrise {
  color: #FFC900;
}

#sunset {
  color: #066CAE;
}
